# Gradle and build files
.gradle
local.properties
.idea
build
neeedo-android.iml
app/app.iml

# Other
.DS_Store

# Distribution files
app/src/main/java/neeedo/imimaprx/htw/de/neeedo/rest/ServerConstants.java